<?xml version="1.0" encoding="UTF-8"?>
<plugin
	id="KafkaProducer"
	iconfile="logo.png"
	description="Apache Kafka Producer"
	tooltip="This plug-in allows writing messages through a specific topic into a Kafka stream"
	category="Output"
	classname="com.ruckuswireless.pentaho.kafka.producer.KafkaProducerMeta">
	
	<libraries>
		<library name="pentaho-kafka-producer.jar"/>
		<library name="lib/kafka_2.11-1.1.0.jar"/>
		<library name="lib/kafka-clients-1.1.0.jar"/>
		<library name="lib/lz4-java-1.4.jar"/>
		<library name="lib/metrics-core-2.2.0.jar"/>
		<library name="lib/scala-library-2.11.12.jar"/>
		<library name="lib/scala-logging_2.11-3.7.2.jar"/>
		<library name="lib/scala-reflect-2.11.12.jar"/>
		<library name="lib/log4j-1.2.17.jar"/>
		<library name="lib/slf4j-api-1.7.25.jar"/>
		<library name="lib/slf4j-log4j12-1.7.25.jar"/>
		<library name="lib/velocity-1.7.jar"/>
		<library name="lib/zkclient-0.10.jar"/>
		<library name="lib/zookeeper-3.5.1.jar"/>
		<library name="lib/xercesImpl-2.9.1.jar"/>
		<library name="lib/xml-apis-1.3.04.jar"/>
		<library name="lib/fastjson-1.2.75.jar"/>
	</libraries>
    
	<localized_category>
		<category locale="en_US">Output</category>
	</localized_category>
	<localized_description>
		<description locale="en_US">Apache Kafka Producer</description>
	</localized_description>
	<localized_tooltip>
		<tooltip locale="en_US">This plug-in allows writing messages through a specific topic into a Kafka stream</tooltip>
	</localized_tooltip>
</plugin>
